body {
  background-color: #fafafa;
  margin-bottom: 50px;
}

/* .navbar-custom {
  background-color: #5d576b;
} */

.col-container {
  margin-top: 20px;
  padding-top: 20px;
}

.photo-card {
  margin: 10px;
  margin-left: 20px;
}

.occasion {
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.card {
  background-color: #fafafa;
}

.card-img-top {
  padding-top: 10px;
}

.card-footer {
  background-color: #fafafa;
}
